<div class="mb-8">
  <h2 class="mt-8 sm:mt-0">
    <i class="fas fa-briefcase text-green-500"></i>
    {{ .Site.Params.experiences.title }}
  </h2>

  {{ range.Site.Params.jobs.list }}
  <h3 class="mb-1">{{ .position }}</h3>
  <p class="ml-1 mb-0">
    {{ if .link }}
    <a class="font-semibold" href="{{ .link }}">{{ .company }}</a>
    {{ else }}
    <span class="font-semibold text-green-500">{{ .company }}</span>
    {{ end }}
     &middot; {{ .dates | markdownify }}
  </p>
  <p class="ml-1 mb-0 italic">{{ .details | markdownify }}</p>
  {{ end }}
</div>
