<head>
  <title>{{ .Site.Params.title }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta name="author" content="{{ .Site.Params.author }}" />
  <meta property="og:title" content="{{ .Site.Params.title }}" />
  <meta property="og:type" content="video.movie" />
  <meta property="og:image" content="{{ .Site.Params.profile.photo_jpg | absURL }}" />

  {{ partial "linkCSS" . }}
</head>
