{{ define "main" }}
<section
  class="w-full sm:w-2/5 bg-gray-200 dark:bg-dark2 rounded shadow flex flex-col justify-between"
>
  <div class="mt-4">
    {{/*  {{- partial "header.html" . -}}  */}}
    {{ partial "profilePhoto" . }}
    {{ partial "name.html" . }}
    {{ partial "social.html" . }}
    {{/*  {{ partial "aboutDesc" . }}  */}}
    {{/*  {{ partial "language.html" . }}  */}}
  </div>
</section>

<section class="w-full sm:w-3/5 px-3 mt-4">  
  {{ partial "education.html" . }}  
  {{ partial "experience.html" . }}
  {{ partial "internship.html" . }}
</section>
{{- partial "footer.html" . -}}
{{ end }}


